.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}

.hrTop {
    color: white;
    width: 85%;
    margin-top: 20%;
}

.hrBottom {
    color: #000000;
    width: 85%;
    margin-bottom: 20%;
}

.title {
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-top: 5%;
    flex-flow: column;
    width: 100%;
}

.contInputs {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: solid 1px black;
    border-radius: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-color: black;
    box-shadow: 0 0 5px 0px black;

}

.labels {
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

.inputs {
    border-radius: 5px;
    font-family: 'Raleway';
    outline: none;
    border: none;
    transition:all ease-in-out 0.3s;
    padding: 2%;
}

.inputs:focus {
    outline: 2px white solid;
    box-shadow: 0 0 8px 3px white;
}


.feedbackErrors {
    color: red;
}
/*Validations feedback

.feedback {
    display: none;
}

.flash-feedback {
    display: block;
    color: red;
    font-family: 'Raleway';
}   
*/




.contBtns {
    margin-top: 5%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.btnSubmit, .btnReset {
    border: solid 1px white;
    padding: 4% 8% 4% 8%;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: black;
    transition: all ease-in-out 0.7s;
}

@media (min-width: 768px) {
    
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%;
        padding-top: 0%;
        flex-flow: column;
        width: 100%;
    }
    
    .contInputs {
        display: flex;
        flex-flow: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: solid 0.1rem white;
        border-radius: 1rem;
        
    }
    
    .labels {
        font-weight: lighter;
        letter-spacing: 0.1rem;
    }
    
    .inputs {
        border-radius: 10px;
        outline: none;
        transition: box-shadow 0.4s ease-in-out;
        width: 75%;
        letter-spacing: 0.1rem;
    }

    .inputs:hover {
        box-shadow: 0 0 8px 3px white;
    }
    
    .inputs:focus {
        outline: 2px white solid;
        box-shadow: 0 0 8px 3px white;
    }

    .contBtns {
        margin-top: 5%;
    }

    

    /* @keyframes border-btn {
        0% {
            border-top-color: white;
        }
        25% {
            border-right-color: white;
        }
        50% {
            border-bottom-color: white;
        }
    
        75% {
            border-left-color: white;
        }
    
        100% {
            border-color: transparent  ;
        }
    } */
}

@media (min-width: 1024px) {
    .hrTop {
        margin-top: 10%;
    }

    .hrBottom {
        margin-bottom: 10%;
    }

    .contInputs {
        width: 60%;
    }
}