/*Footer*/

.footer {
    margin-top: 20%;
    background-color: white;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.dark__footer {
    background-color: white;
    color: black;
}

.cont__footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.cont-icons-media__footer {
    display: flex;
    gap: 5%;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}


.fa-brands {
    cursor: pointer;
}

.fa-brands-dark {
    color: black;
}

.cont-rights__footer {
    width: 80%;
    align-self: center;
    margin-top: 10%;
    text-align: center;
}

.social-title__footer {
    margin-top: 10%;
}

.text-right__footer {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
}

/*Media queries*/

@media(min-width: 768px) {
    .cont__footer {
        justify-content: space-evenly
    }

    .cont-rights__footer {
        margin-top: 5%;
    }
}


@media(min-width: 1024px) {
    .social-title__footer {
        margin-top: 5%;
        font-size: 1.5rem;
    }
    .cont-rights__footer {
        margin-bottom: 5%;
    }

    .fa-brands {
        font-size: 2rem;
    }
}