.nav {
    width: 100%;
    background-color: black;
}




.cont__nav {
    display: flex;
    width: 100%;
    height: 7.5vh;
    justify-content: space-between;
    align-items: center;
    padding-left:  5%;
    padding-right: 5%;
    margin-top: 2%;
}

.cont-btn__nav {
    list-style: none;
}

/**BURGER MENU*/

.cont-burguer-menu__nav {
    display: flex;
    position: absolute;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    background-color: black;
    max-height: 0px;
    transition: max-height 0.6s cubic-bezier(0.5, 0.3, 0.2, 0.1);
    overflow: hidden;
    padding-left: 2%;
}

.open {
    max-height: 50vh;
    z-index: 1000;
}

.links-burguer__nav {
    margin-bottom: 25%;
}

.link-burguer-about__nav {
    margin-top: 50%;

}
.link-burguer-contact__nav {
    margin-bottom: 50%;
}

.logo__nav {
    color: white;
    width: 10%;
    cursor: pointer;
    font-size: 1.8rem;
    text-decoration: none;
    transition: font-size ease-in-out 0.7s;
}

.logo__nav:hover {
    font-size: 2rem;
}

.logo-dark__nav {
    color: black;
}

.logo-dark__nav:hover {
    color: black;
    font-size: 2rem;
}


.link-home__nav {
    margin-right: 5%;
    font-size: 2rem;
}

.icon-menu__nav {
    color: white;
    margin-left: 2%;
    cursor: pointer;
    width: 10%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    transition: font-size ease-in-out.7s;
}

.icon-menu-dark__nav {
    color: black;
}

.icon-menu__nav:hover {
    font-size: 2rem;
    
}
.icon-menu__nav:active {
    font-size: 2rem;
    transition: 0.7s;
}

.icon-bars-disabled-menu__nav {
    display: none;
}

.icon-bars-enabled__nav {
    display: flex;
}



.icon-menu-xmark__nav {
    font-size: 1.8rem;
    margin: 0;
    transition: display 0.7s ease;
    margin-left: 2%;
}

.icon-menu-xmark-active__nav {
    display: flex;
}

.icon-xmark-disabled__nav {
    display: none;
}

.cont-btn__nav {
    display: none;
    width: 33%;
    justify-content: space-around;
}

.list-item__nav {
    width: 100%;
}

.links__nav {
    text-decoration: none;
    color: white;
    padding: 20% 22% 20% 22%;
}

.links-dark__nav {
    color: black;
}

.links-dark__nav:hover {
    animation: borderDark 1s linear backwards
}

@keyframes border {
    0% {
        border-top-color: white;
    }
    25% {
        border-right-color: white;
    }
    50% {
        border-bottom-color: white;
    }

    75% {
        border-left-color: white;
    }

    100% {
        border-color: transparent  ;
    }
}


@keyframes borderDark {
    0% {
        border-top-color: black;
    }
    25% {
        border-right-color: black;
    }
    50% {
        border-bottom-color: black;
    }

    75% {
        border-left-color: black;
    }

    100% {
        border-color: transparent  ;
    }
}

@media (min-width: 1024px) {
    .cont-btn__nav {
        display: flex;
        margin-left: 5%;
    }
    
    .cont-burguer-menu__nav, .icon-menu__nav {
        display: none;
    }
}