.contSuccess {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.title, .text {
    color: white;
    text-align: center;
}

.linkToHome {
    padding: 5%;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .linkToHome {
        padding: 3%;
    }
}

@media (min-width: 1024px) {
    .linkToHome {
        padding: 2% 5%;
    }

    .text {
        width: 60%;
    }

}