<nav class="nav">
    <div class="cont__nav">
        <i class="fa-solid fa-bars icon-menu__nav"></i>
        <div class="cont-btn__nav">
            <a href="/about" class="links__nav link-about__nav">About</a>
            <a href="/contact" class="links__nav link-contact__nav">Contact</a>
        </div>
        <a href="/" class="link-home__nav logo__nav">SM</a>
        <!-- <img src="/images/sketch.png" alt="imagen-ejemplo-logo" class="logo__nav"> -->
    </div>
</nav>