<nav class="nav">
    <div class="cont__nav">
        <i class="fa-solid fa-bars icon-menu__nav"></i>
        <img src="/images/sketch.png" alt="imagen-ejemplo-logo" class="logo__nav">
    </div>
</nav>