<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/navBar.ejs')%>
    <main class="main__home">
        <section class="banner__home">
            <div class="cont-banner__home">
                <img src="https://placehold.co/600x400" alt="" class="img-banner__home">
            </div>
        </section>

        <section class="cont-wrapper__main">
            <div class="wrapper__main">
                <h3 class="title-wrapper__main">
                    Lorem Ipsum
                </h3>
                <p class="text-wrapper__main">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laborum blanditiis repellat. Voluptates quidem sapiente odio quibusdam, necessitatibus delectus cumque! Architecto iusto officiis eum libero, ducimus recusandae doloremque sed inventore.
                </p>
                <p class="text-wrapper__main">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque numquam reiciendis, facilis eaque, tenetur cumque provident nobis fugiat molestiae laudantium qui officiis quidem? Tenetur eius atque officiis, optio quos facilis?
                </p>
                <p class="text-wrapper__main">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ut veniam laboriosam doloribus rerum corporis voluptatum quidem quas autem! Ipsam nesciunt laboriosam, ut nobis ex modi molestias quidem dolorum iure?
                </p>
            </div>
        </section>
        
    </main>
</body>
</html>