<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/navBar.ejs')%>
    <main class="main__home">
        <section class="banner__home">
            <div class="cont-banner__home">
                <img src="images/dibujo-taza-santi.jpg" alt="" class="img-banner__home">
                <span class="text-banner__home">Santiago Martin Official Store</span>
            </div>
        </section>

        <section class="wrapper__home">
            <div class="cont-wrapper__home">
                <img src="images/dibujo-cara-mujer.jpg" alt="" class="img-wrapper__home">
                <a class="link-galery__home" href="#"><span >Gallery</span></a>
            </div>
        </section>
        
    </main>
</body>
</html>