<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/navBar.ejs')%>
    <main class="main__home">
        <section class="banner__home">
            <div class="cont-banner__home">
                <div class="cont-text-banner__home">
                    <p class="text-banner__home"><u>Santiago Martin Official Site</u></p> 
                </div>
                <img src="images/dibujo-taza-santi.jpg" alt="" class="img-banner__home">
            </div>
        </section>
        <section class="cont-quote-gallery__home">
            <div class="quote__home">
                <div class="cont-quote__home">
                    <p class="quote-text__home">
                        "Creating is like giving life to something completely new. It's a process where imagination becomes reality through effort and dedication. Every stroke and line are steps on a path towards something unique."
                    </p>
                    <p class="quote-text__home">— Akira Toriyama</p>
                </div>
            </div>
            <div class="wrapper__home">
                <div class="cont-wrapper__home">
                    <img src="images/dibujo-cara-mujer.jpg" alt="" class="img-wrapper__home">
                    <a class="link-gallery__home" href="#"><span><u>Gallery</u></span></a>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
</html>